.main {
    position: relative;
    display: flex;
    height: calc(100vh - (16vh + 24px));
    width: 100vw;


}


.video_content {
    max-height: 100%;
    padding: 4vh 4vw;

    >* {
        max-height: 80%;
        max-width: max-content;
    }
}

.about_content {
    position: relative;
    height: calc(100vh - 30vh);
    width: 70vw;
    margin: 1vh 5vw;
    top: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 4px dashed #B78F83;

    p {
        max-width: 100ch;
    }
}