* {
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

p {
    max-width: 65ch;
    font-family: 'Bad Script', cursive;
}

h1 {
    font-size: 4rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.h2 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

.h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
}

body {
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
}

.navbar {
    width: calc(100vw - 20px);
    height: 6vh;
    background: #DBDEE9;
    padding: 10px;
    font-family: 'Bad Script', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    p {
        font-size: 2rem;
        margin: 0;
        transition: 300ms ease;
    }

    p:hover {
        cursor: pointer;
        scale: 1.07;
    }

    .logo {
        transition: 300ms ease;
    }

    .logo:hover {
        cursor: pointer;
        scale: 1.07;
    }

    img {
        height: 100%;
        width: auto;
    }

    .ic_more {
        position: relative;

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        :hover {
            cursor: pointer;
        }

        input {
            display: none;
        }

        img {
            width: 60%;
        }

        label {
            display: flex;
            justify-content: center;
        }

        .more_nav {
            position: absolute;
            top: calc(6vh + 10px);
            right: calc(-9px);
            width: 10vw;
            padding: 0 20px;
            display: none;
            background: rgba(255, 255, 255, 0.95);
            border: 1px #000 solid;

            flex-direction: column;
            text-align: center;

            >* {
                padding: 1vh 0;
                border-bottom: 1px solid #000;
            }

            a {
                color: black;
                font-size: 1.2rem;
                text-decoration: none;
                transition: 300ms;
            }

            a:nth-last-child(1) {
                border: 0;
            }

            a:hover {
                background: #00000022;
                scale: 1.05;
            }

        }


        #nav_show_more:checked+.more_nav {

            display: flex;
        }




    }


}

.flex_col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


footer {
    position: relative;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    color: #000;

    #footer_child {
        border-top: 1px #000 solid;
        width: 80%;
        padding: 10px 3%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        .claims {
            position: absolute;
            left: 0;
            font-size: 1.2rem;
        }

        .href {
            position: absolute;
            right: 0;

            .flex_row {
                flex-wrap: nowrap;

            }
        }
    }

    img {
        height: 5vh;
        transition: 300ms;

        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }

    a {
        padding: 1vw;
        text-decoration: none;
        font-size: 1rem;
        color: #000;
        border: 0px;
        border-radius: 5px;
        transition: 400ms;
        text-wrap: nowrap;

        &:hover {
            color: #000000a1;
        }
    }

}